<div id="about">
	<div id="group-photo"><%= image_tag "itlogdakogbayot.jpg" %></div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#header").hide();
		$("#faq").hide();
	});
</script>