<h1>PLUG Notes</h1>
<p>Hi there!</p>

<% if user_signed_in? %>
	<div id="notebooks-list">
		<% @notebooks.each do |notebook| %>
			<%= link_to notebook.description, "#", {:class => "notebook-link", :remote => true, :data => notebook.to_json }%>
		<% end %>
	</div>
	<div id="notes-list">
	</div>
<% end %>


